<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>登录</title>
</head>

<body>
  <form action="<%= loginUrl %>" method="POST">
    <div>
      <label for="account">用户名: </label>
      <input name="account" placeholder="enter your username" />
    </div>
    <div>
      <label for="password">密码: </label>
      <input name="password" type="password" placeholder="enter your password" />
    </div>
    <button>登录</button>
    <input type="hidden" name="callback_uri" value="<%= callbackUri %>">
  </form>
</body>

</html>
